body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-image: url('background.jpeg');
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: red;
}

.content {
    position: relative;
    text-align: center;
    color: white;
    z-index: 2; /* Ensure content is above background image */
}
