body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
    background-image: url('left-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: red;
}